@media (max-width: 600px) {

  body {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar {
    display: none;
  }


  .middle-section {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
  }

  .search-bar {
    font-size: 14px;
    height: 34px;
  }

  .search-button {
    height: 36px;
    width: 50px;
  }

  .voice-search-button {
    height: 36px;
    width: 36px;
  }

 
  .youtube-apps-icon-container,
  .notifications-icon-container-full {
    display: none;
  }

  .video-grid {
    grid-template-columns: 1fr;
    padding: 0 12px;
  }
}
